body {
  color: rgb(56, 56, 56);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.App header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 24, 64);
  height: 50px;
  margin-bottom: 4rem;
  color: whitesmoke;
}
.header-nav ul {
  display: flex;
  gap: 4rem;
}
.header-nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.1rem;
}
.header-nav a:focus {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.4rem;
}
.header-nav ul li {
  list-style: none;
  padding: 0.5rem;
}
.footer {
  display: flex;
  background-color: rgb(224, 24, 64);
  justify-content: space-between;
  padding: 2rem;
  flex-basis: 50%;
  color: white;
}
.footer ul li {
  list-style: none;
}
@media (max-width: 600px) {
  .header-nav ul {
    display: flex;
    gap: 1rem;
  }
}
